body {
     background: #eef3fb;
     font-family: Arial, sans-serif;
     font-size: 14px;
     margin: 0;
     padding: 0;
}

.header {
     width: 100%;

     padding: 13px 8px;
     margin-bottom: 1%;
     font-size: 13.5px;
     background-color: #67b4fd;
     
     
}
.non-shifting{
     margin: 0;
     padding: 0;
}

.text-shifting{
     margin-top: auto;
     margin-bottom: auto;
}
 
#container {
     /* background: #204051; */
     text-align: center;
     width: 100%;
     height: 100%;
     margin-top: 2%;
}
 
#navigation {
     background: #FE9798;
     width: 100%;
     height: 25px;
}
 
#sidebar {
     background: #40E0D0;
     float: left;
     width: 19%;
     height: 280px;
}

#content {
     background: #DCDCDC;
     float: right;
     width: 80%;
     height: 280px;
}
 
#clear {
     clear: both;
}
 
#footer {
    background: #00BFFF;
	width: 100%;
	height: 40px;
}