body {
    text-align: center;
    /* background-image:url(https://salon.ru/storage/thumbs/gallery/183/182152/835_3500_s361.jpg); */
    /* background-image:url(img/OF18H00.jpg); */
    background-color: #eef3fb;
}
.wrapper {
    margin-top: 2%;
    width: 1000px;
    margin: auto;
    text-align: left;
    background: #ffffff;
}
.header{
    width: 100%;
    /* height: 111%; */
    margin-bottom: 1%;
    font-size: xx-large;
    background-color: #67b4fd;
    text-align: center;

    
}

.krasota {
    font-family: Georgia;
    text-transform: capitalize;
    /* text-shadow:5px 2px 4px gray; */
    /* background-color: #3b6978; */
}
.rounding {
    border-radius: 10px;
}
.bg {
    /* background-color: ; */
    line-height: 1.5;
    font-size: 15px;
}
.otstup {
    margin-left: 50px;
    margin-right: 50px;

}

.otstuptop {
    padding-top: 30px;
}

.otstupbottom {
    margin-bottom: 30px;
}

.otstupbottompadding {
    padding-bottom: 30px;
}

.text-centre {
    text-align: center;
}

.red{
    color: red;
}