<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/style.css">
</head>

<body class="bg font">
    
    <header class="otstupbottom"><strong>
        <h1 class="text-light">{{ title }}</h1>
        </strong></header>
      
    <article class="rounding wrapper shadow">
        <section class="otstuptop otstupbottompadding">
            <div class="otstup">
            <main role="main" class="container">
                {% block content %}{% endblock %}
            </main>
            </div>

            
    
    </body>

</html>