{% extends "base.html" %}

{% block content %}

<article class="rounding wrapper shadow" style="margin-top: 2%;">
    <section class="otstuptop otstupbottompadding">
        <div class="otstup ">
            <div class="box">
            <div style="display: inline-block;">
                <div class="ribbon-left">Популярный</div>
                <img class="cover shadow" src="/static/img/4824032.jpg" alt="">
                <div class="item-info">
                    <p class="fs-3">{{ book.name }}</p>
                    <p class="fs-4">{{ book.author }}</p>
                    <p class="fs-5">Жанры: {{book.genre}}, {{book.category}}</p>
                    <p class="fs-5">Цена: {{ price }}</p>
                    <p style="color: #656565;">
                    <p>Описание:</p>
                    <p> {{ about_book }}</p>
                    </p>
                </div>
                <button class="btn btn-primary custom-btn-class" style="margin-top: 2%; width: 30%;" type="submit">В
                    корзину</button>
            </div>
        </div>
        </div>
        </div>

    </section>
</article>

{% endblock %}
