

<div class="col">
    <!--        <div class="btn-group" role="group" aria-label="Basic example">-->
<!--            <form action="/add_to_basket/{{item.id}}/{{author}}/{{name}}" method="POST">-->
<!--                <input type="submit" class="btn btn-outline-primary" value="+">-->
<!--            </form>-->
<!--          <div class="p-3 border bg-light">{{val}}</div>-->
<!--            <form action="/add_to_basket/{{item.id}}/{{author}}/{{name}}" method="POST">-->
<!--                <input type="submit" class="btn btn-outline-primary" value="-">-->
<!--            </form>-->
        </div>
