{% extends "base.html" %}

{% block content %}
<h1 align="center">Каталог</h1>

{% for item in books%}
<div class="container">
  <div class="row g-0">
    <div class="col col-sm-4">
     <div class="head">
      Название
     </div>
     <div class="content">
        {{item.name}}
     </div>
    </div>
    <div class="col">
        <div class="head">
      Цена
     </div>
      <div class="content">
        {{item.price}}
     </div>
    </div>
    <div class="col">
        <div class="head">
      Наличие
     </div>
     <div class="content">
        {% if item.is_available %}
        <div class="status">
            <a class="btn btn-outline-success" href="/" role="button">Добавить в корзину</a>
        </div>
         {% else %}
       <div class="status">Нет в наличии</div>
          {% endif %}
     </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
